#about{
    #header{
        .header-desktop{
            position: relative;
            z-index: 2;
        }
    }
    .title-left{
        margin-bottom: 58px;
        h3{
            font-size: 48px;
            font-weight: 700;
            color: $main-color;
            position: relative;
            margin-bottom: 35px;
            &::after{
                content: "";
                position: absolute;
                left: 0;
                bottom: -11px;
                width: 48px;
                height: 4px;
                background-color: $main-color;
                z-index: 1;
            }
        }
        .desc{
            font-size: 18px;
            color: #686868;
        }
    }
    .title-center{
        margin-bottom: 58px;
        text-align: center;
        h3{
            font-size: 48px;
            font-weight: 700;
            color: $main-color;
            position: relative;
            margin-bottom: 29px;
            &::after{
                content: "";
                position: absolute;
                left: 50%;
                transform: translateX(-50%);
                bottom: -11px;
                width: 48px;
                height: 4px;
                background-color: $main-color;
                z-index: 1;
            }
        }
        .desc{
            font-size: 20px;
            color: #686868;
        }
    }
    .read-more{
        font-size: 20px;
        font-weight: 700;
        color: $main-color;
        position: absolute;
        top: 101px;
        right: 15px;
        display: flex;
        align-items: center;
        svg{
            margin-left: 22px;
        }
    }

    .r-big-banner{
        padding: 142px 0 110px;
        margin-top: -75px;
        position: relative;
        z-index: 1;
        background: url("../images/about/big-banner-bg.jpg") no-repeat center;
        background-size: cover;
        .col-left{
            h1{
                font-size: 48px;
                line-height: 56.25px;
                font-weight: 700;
                color: #121212;
                position: relative;
                margin-bottom: 80px;
                &::after{
                    content: "";
                    position: absolute;
                    left: 0;
                    bottom: -32px;
                    width: 114px;
                    height: 4px;
                    background-color: $main-color;
                    z-index: 1;
                }
            }
            .block{
                margin-bottom: 40px;
                width: 401px;
                max-width: 100%;
                h3{
                    font-size: 24px;
                    font-weight: 700;
                    color: $main-color;
                }
                p{
                    font-size: 14px;
                    line-height: 20px;
                    color: #434343;
                }
            }
        }
        .col-right{
            .block-image{
                width: 698px;
                height: 675px;
                // border: 1px solid;
                position: relative;
                top: 24px;
                right: 99px;
                .block{
                    display: inline-block;
                    position: absolute;
                    z-index: 1;
                    .image{
                        position: relative;
                        .circle{
                            position: absolute;
                            width: 100%;
                            height: 100%;
                            border-radius: 50%;
                            top: 8px;
                            left: 8px;
                            z-index: -1;
                        }
                    }
                    &.block-1{
                        top: 0;
                        // right: 8px;
                        right: 50px;
                        .image .circle{
                            background-color: #FDE002;
                        }
                    }
                    &.block-2{
                        left: 0;
                        bottom: 157px;
                    }
                    &.block-3{
                        right: 76px;
                        bottom: 73px;
                    }
                    &.block-4{
                        bottom: 4px;
                        left: 265px;
                        .image .circle{
                            background-color: $main-color;
                            top: 4px;
                            left: 4px;
                        }
                    }
                }
            }
        }
    }
    
    .r-progress{
        color: #fff;
        padding: 114px 0 54px;
        background: url("../images/about/progress-bg.jpg") no-repeat center;
        background-size: cover;
        .title-left{
            margin-bottom: 50px;
            h3{
                color: #fff;
                font-size: 48px;
                text-transform: uppercase;
                &::after{
                    background-color: #fff;
                }
            }
        }
        .block-progress{
            display: flex;
            align-items: center;
            flex-flow: row-reverse;
            margin-left: calc((100% - 1110px)/2);
            margin-right: 20px;
            .slick-list{
                padding-bottom: 39px;
                padding-right: 20px;
                margin-right: -20px;
            }
            .item{
                // .inner{
                //     padding: 25px 29px 25px 36px;
                //     margin: 0 15px;
                //     border-radius: 25px;
                //     border: 4px solid #1170FF;
                //     min-height: 354px;
                //     height: 100%;
                // }
                .inner{
                    margin: 0 15px;
                    border-radius: 25px;
                    background: linear-gradient(to bottom, rgba(17, 112, 255, 1), rgba(0, 148, 255, 0));
                    padding: 4px;
                    min-height: 354px;
                    .content-box{
                        border-radius: 25px;
                        background-color: #073A86;
                        padding: 25px 29px 25px 36px;
                        border-radius: 25px;
                        min-height: 354px;
                        height: 100%;
                    }
                }
                .year{
                    font-size: 12px;
                    font-weight: 700;
                    margin-bottom: -5px;
                }
                h3{
                    font-size: 24px;
                    font-weight: 700;
                    margin-bottom: 20px;
                }
                ul{
                    li{
                        display: flex;
                        justify-content: space-between;
                        .content{
                            width: 63%;
                            h5{
                                font-size: 14px;
                                font-weight: 700;
                                margin-bottom: 3px;
                            }
                            p{
                                font-size: 14px;
                                line-height: 16px;
                                padding-right: 8px;
                            }
                        }
                        .logo{
                            width: 32%;
                            margin-top: 5px;
                            &.tcom-jp{
                                img{
                                    position: relative;
                                    top: 33px;
                                    left: -10px;
                                }
                            }
                            &.eyefire{
                                img{
                                    position: relative;
                                    top: 13px;
                                    left: -10px;
                                }
                            }
                            img{
                                margin-left: auto;
                                margin-right: auto;
                            }
                        }
                    }
                }
            }
            .slick-dots{
                background: url("../images/about/arrow-progress.png") no-repeat center;
                background-size: contain;
                margin-right: 36px;
                padding: 54px 0 76px;
                max-height: 651px;
                li{
                    + li{
                        margin-top: 18px;
                    }
                    &.slick-active, &:hover{
                        button{
                            background-color: #fff;
                            color: $main-color;
                        }
                    }
                    button{
                        background: #2B5595;
                        border-radius: 45px;
                        font-size: 24px;
                        font-weight: 700;
                        color: #fff;
                        text-align: center;
                        padding: 17.5px 22px;
                        border: none;
                        transition: .2s all;
                    }
                }
            }
        }
    }

    .r-member{
        padding-top: 97px;
        padding-bottom: 223px;
        background: url("../images/home/member-bg.png") no-repeat center;
        .label{
            position: absolute;
            left: calc(100% + 51px);
            top: calc(50% + 155px);
            -webkit-transform: translateY(-50%);
            transform: translateY(-50%);
        }
        .row{
            margin-left: -8px;
            margin-right: -8px;
            .col-4{
                padding-left: 8px;
                padding-right: 8px;
            }
        }
        .title-center{
            margin-bottom: 50px;
        }
        .image-logo{
            margin-top: 0;
            margin-bottom: 52px;
        }
        .box{
            border: 1px solid #E2E2E2;
            box-shadow: 0px 11px 12px rgba(189, 189, 189, 0.25);
            border-radius: 15px;
            height: 100%;
            padding: 10px 15px;
            background-color: #fff;
            .logo{
                height: 53px;
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                margin-bottom: 19px;
                img{
                    width: auto;
                }
            }
            ul{
                li{
                    font-size: 14px;
                    color: #656565;
                    position: relative;
                    padding-left: 13px;
                    line-height: 20px;
                    &::before{
                        content: "";
                        width: 3px;
                        height: 3px;
                        border-radius: 50%;
                        background-color: #656565;
                        display: inline-block;
                        position: absolute;
                        left: 0;
                        top: 8px;
                    }
                }
            }
        }
    }

    .r-achievement{
        padding: 53px 0 0;
        background: url("../images/home/achievement-bg.png") no-repeat center;
        background-size: cover;
        .label{
            position: absolute;
            right: calc(100% + 52px);
            top: calc(50% + -25px);
            transform: translateY(-50%);
        }
        .title-left{
            h3{
                color: #fff;
                margin-bottom: 27px;
                &::after{
                    background-color: #fff;
                    border-radius: 8px;
                }
            }
            .desc{
                color: #fff;
                line-height: 32px;
                padding-right: 110px;
            }
        }
        .col-left{
            .title-left{
                margin-top: 57px;
                margin-bottom: 0;
            }
            .image{
                margin-top: -16px;
                margin-left: -18px;
                margin-bottom: -9px;
            }
        }
        .col-right{
            .row{
                margin: 0 -12px;
            }
            .col-6{
                margin-bottom: 25px;
                padding: 0 12px;
            }
            .box{
                box-shadow: inset 0px 0px 7.66799px rgba(0, 0, 0, 0.1);
                border-radius: 6px;
                padding: 24px 30px 15px;
                height: 226px;
                position: relative;
                .icon{
                    
                }
                .number{
                    color: #fff;
                    font-size: 40px;
                    font-weight: 900;
                    line-height: 1;
                    margin-top: 27px;
                    margin-bottom: 6px;
                }
                h3{
                    color: #fff;
                    font-size: 24px;
                    font-weight: 500;
                    margin-bottom: 0;
                }
                &.box-1{
                    background-color: $main-color;
                    .number{
                        margin-top: 36px;
                    }
                }
                &.box-2{
                    transform: translateY(23px);
                    background-color: #FDE002;
                    &::before{
                        content: "";
                        width: 13px;
                        height: 13px;
                        background-color: #fff;
                        border-radius: 50%;
                        position: absolute;
                        left: 2px;
                        top: -18px;
                    }
                    .icon{
                        margin-top: 18px;
                    }
                    .number{
                        color: $main-color;
                    }
                    h3{
                        color: $main-color;
                    }
                }
                &.box-3{
                    background-color: #EB2725;
                }
                &.box-4{
                    background-color: #00BE90;
                    transform: translateY(23px);
                }
            }
        }
    }

    .r-feedback{
        text-align: center;
        padding: 145px 0 85px;
        .title-center{
            margin-bottom: 52px;
            h3{
                text-transform: uppercase;
                &::after{
                    display: none;
                }
            }
        }
        .owl-stage-outer{
            padding-top: 35px;
        }
        .item{
            width: 675px;
            max-width: 100%;
            margin-left: auto;
            margin-right: auto;
            p{
                font-size: 20px;
                line-height: 23px;
                position: relative;
                margin-bottom: 66px;
                &::before{
                    content: "";
                    width: 30px;
                    height: 30px;
                    border-radius: 50%;
                    background-color: $main-color;
                    display: block;
                    position: absolute;
                    top: -28px;
                    left: -29px;
                    z-index: 1;
                }
                &::after{
                    content: "";
                    width: 18px;
                    height: 18px;
                    border-radius: 50%;
                    background-color: $main-color;
                    display: block;
                    position: absolute;
                    bottom: -30px;
                    right: -16px;
                    z-index: 1;
                }
            }
            .brand{
                font-size: 24px;
                font-weight: 700;
                color: #000000;
                display: flex;
                justify-content: center;
                align-items: center;
                margin-top: 6px;
                svg{
                   margin-right: 8px; 
                }
                
            }
        }
        .owl-dots{
            position: absolute;
            bottom: 91px;
            left: 50%;
            transform: translateX(-50%);
            z-index: 10;
            button{
                width: 6px;
                height: 6px;
                background-color: #A7A7A7;
                border-radius: 34px;
                margin: 0 1.5px;
                transition: .2s all;
                &.active{
                    background-color: $main-color;
                    width: 29px;
                }
            }
        }
    }

    .r-customer{
        padding: 66px 0 0;
        position: relative;
        
        .label{
            position: absolute;
            left: calc(100% + 50px);
            top: -50px;
            z-index: -1;
        }
        .title-center{
            margin-bottom: 87px;
            .desc{
                font-size: 18px;
            }
        }
        .container-fluid{
            width: 1435px;
            max-width: 100%;
            .brands-list{
                display: flex;
                justify-content: center;
                align-items: center;
                flex-wrap: wrap;
                li{
                    margin: 0 72px 64px 72px;
                }
            }
        }
        .map{
            margin-top: -16px;
        }
    }

    .r-moment{
        padding: 33px 0 191px;
        background: url("../images/about/moment-bg.jpg") no-repeat center;
        background-size: cover;
        .container-fluid{
            padding-left: 32px;
            padding-right: 32px;
        }
        .row{
            margin-left: -2px;
            margin-right: -2px;
            .column{
                padding-left: 2px;
                padding-right: 2px;
            }
        }
        .col-left{
            display: flex;
            flex-direction: column;
            justify-content: space-between;
        }
        .title{
            padding: 130px 52px 0;
            h3{
                font-size: 48px;
                font-weight: 700;
                color: $main-color;
                line-height: 1.3;
                margin-bottom: 35px;
                span{
                    color: #E2E2E2;
                    margin-left: 5px;
                }
            }
        }
        img{
            width: 100%;
            max-width: 100%;
            + img{
                margin-top: 4px;
            }
        }
    }

    .r-office-tcom{
        margin-top: -35px;
        margin-bottom: 182px;
        .circle{
            position: absolute;
            z-index: 0;
            &.circle-1{
                border-radius: 50%;
                width: 128px;
                height: 128px;
                background-color: $main-color;
                top: -74px;
                right: -88px;
            }
            &.circle-2{
                border-radius: 50%;
                width: 20px;
                height: 20px;
                background-color: #EB2725;
                bottom: 219px;
                right: 102px;
            }
            &.circle-3{
                border-radius: 50%;
                width: 44px;
                height: 44px;
                background-color: #FDE002;
                bottom: 101px;
                left: 120px;
            }
        }
        .col-left{
            z-index: 1;
            .inner{
                padding-left: 112px;
                padding-top: 141px;
            }
            p{
                font-size: 24px;
                color: $main-color;
                margin-bottom: 1px;
            }
            h3{
                font-weight: 700;
                font-size: 48px;
                line-height: 56px;
                color: $main-color;
                margin-bottom: 46px;
                position: relative;
                &::before{
                    content: "";
                    width: 123px;
                    height: 5px;
                    background-color: $main-color;
                    border-radius: 43px;
                    position: absolute;
                    left: 0;
                    bottom: -26px;
                }
            }
            .btn-start{
                border: 2px solid $main-color;
                filter: drop-shadow(0px 4px 41px rgba(189, 189, 189, 0.25));
                border-radius: 54px;
                padding: 18px 43px 18px 59px;
                display: inline-flex;
                justify-content: center;
                align-items: center;
                font-weight: 700;
                font-size: 32px;
                line-height: 38px;
                color: $main-color;
                background-color: #fff;
                svg{
                    margin-left: 20px;
                }
            }
        }
        .col-right{
            // z-index: 2;
            &:hover{
                .tcom-image .slick-arrow{
                    opacity: 1;
                }
            }
            .tcom-image{
                margin-right: 352px;
                margin-left: 17px;
                .slick-dots{
                    position: absolute;
                    left: 0;
                    display: flex;
                    margin-top: 44px;
                    li{
                        margin-right: 16px;
                        &.slick-active{
                            button{
                                width: 37px;
                                background-color: $main-color;
                                border-radius: 27px;
                            }
                        }
                    }
                    button{
                        width: 10px;
                        height: 10px;
                        background-color: #d9d9d9;
                        border: none;
                        border-radius: 50%;
                        overflow: hidden;
                        font-size: 0;
                        padding: 0;
                        transition: .4s all;
                    }
                }
                .slick-arrow{
                    background: transparent;
                    border: none;
                    position: absolute;
                    top: 50%;
                    transform: translateY(-50%);
                    padding: 0;
                    opacity: 0;
                    transition: .4s all;
                    z-index: 10;
                    &.slick-disabled{
                        opacity: 0 !important;
                    }
                    &.slick-next{
                        right: -226px;
                    }
                    &.slick-prev{
                        display: none !important;
                        left: -141px;
                        transform: translateY(-50%) rotate(180deg);
                    }
                }
                .slick-list{
                    overflow: visible;
                    &::before{
                        content: "";
                        width: 10000%;
                        height: 100%;
                        position: absolute;
                        background-color: #fff;
                        right: 100%;
                        z-index: 10;
                    }
                }
                .slick-track{
                    margin: 0 -20px;
                    display: flex;
                    align-items: center;
                }
                .item{
                    padding: 0 20px;
                    transform: scale(0.823);
                    max-width: 986px;
                    // width: auto !important;
                    &.slick-active{
                        transform: scale(1);
                        margin-right: -82px;
                    }
                    img{
                        width: 100%;
                    }
                    a{
                        display: block;
                        position: relative;
                        &:hover{
                            .image img{
                                transform: scale(1.1);
                            }
                        }
                        .content{
                            position: absolute;
                            bottom: 36px;
                            left: 25px;
                            width: calc(100% - 40px);
                            h3{
                                color: #fff;
                                font-weight: 900;
                                font-size: 28px;
                                line-height: 36px;
                            }
                        }
                    }
                }
                .image{
                    border-radius: 15px;
                    overflow: hidden;
                    img{
                        width: 100%;
                        transition: .4s all;
                    }
                }
            }
        }
    }

}


@media (min-width: 1200px){
    #about .r-office-tcom .col-left {
        flex: 0 0 27%;
        max-width: 27%;
    }
    #about .r-office-tcom .col-right {
        flex: 0 0 73%;
        max-width: 73%;
    }
    #about .r-moment .col-left{
        flex: 0 0 30.27%;
        max-width: 30.27%;
    }
    #about .r-moment .col-right{
        flex: 0 0 69.73%;
        max-width: 69.73%;
    }
    #about .r-member{
        .row .col-4{
            flex: 0 0 20%;
            max-width: 20%;
        }
    }
    #about .r-achievement .col-left {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 56.32%;
        flex: 0 0 56.32%;
        max-width: 56.32%;
    }
    #about .r-achievement .col-right {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 43.68%;
        flex: 0 0 43.68%;
        max-width: 43.68%;
    }
}

@media (max-width: 1600px){
    #about .r-office-tcom .col-left .inner {
        padding-left: 30px;
    }
    #about .r-office-tcom .col-left .btn-start {
        padding: 18px 40px 18px 40px;
    }
    #about .r-office-tcom .col-left .inner {
        padding-top: 0;
    }
}

@media (max-width: 1440px){
    #about .r-moment .title{
        padding: 0;
    }
    #about .r-office-tcom .circle{
        display: none;
    }
    #about .r-office-tcom .col-right .tcom-image .item.slick-active {
        margin-right: -45px;
    }
}

@media (max-width: 1199px){
    #about .r-office-tcom .col-left .btn-start {
        padding: 10px 30px 10px 30px;
        font-size: 24px;
    }
    #about .r-office-tcom .col-left .inner {
        padding-top: 0;
        padding-left: 0;
        margin-bottom: 40px;
    }
    #about .r-office-tcom .col-left p {
        font-size: 14px;
    }
    #about .r-office-tcom .col-left h3 {
        font-size: 28px;
        line-height: 38px;
        &::before{
            bottom: -7px;
        }
    }
    #about .r-office-tcom .circle{
        display: none;
    }
    #about .r-feedback .item p::before {
        left: -4px;
    }
    #about .r-feedback .item p::after {
        right: -5px;
    }
    #about .r-moment .title h3 {
        font-size: 30px;
    }
    #about .r-progress .title-left h3 {
        font-size: 30px;
    }
    #about .r-progress .block-progress{
        margin-left: calc((100% - 930px)/2);
        margin-right: 0;
    }
    #about .r-big-banner .col-left .block{
        width: 100%;
    }
    #about .r-big-banner{
        margin-top: 0;
        padding: 50px 0;
    }
    #about .r-big-banner .col-left h1 {
        font-size: 38px;
        line-height: 44.25px;
    }
    #about .r-big-banner .col-right .block-image{
        position: static;
        width: 100%;
    }
    #about .title-left h3,
    #about .title-center h3{ 
        font-size: 30px;
    }
    #about .title-left .desc,
    #about .title-center .desc {
        font-size: 14px;
    }
    #about .r-member .row{
        justify-content: center;
        .col-4{
            margin-bottom: 16px;
        }
    }
    #about .r-member{
        padding-bottom: 100px;
    }
    #about .r-achievement .col-right .box{
        padding: 15px;
        height: auto;
    }
    #about .r-achievement .col-right .box .number{
        font-size: 32px;
    }
    #about .r-achievement .col-right .box h3 {
        font-size: 16px;
    }
    #about .r-customer .container-fluid .brands-list li {
        margin: 0 30px 64px 30px;
    }

    
}

@media (max-width: 991px){
    #about .r-progress .block-progress{
        margin-left: calc((100% - 690px)/2);
    }
}


@media (max-width: 767px){
    .container{
        padding-right: 24px;
        padding-left: 24px;
    }
    #about .r-office-tcom {
        margin-top: 0;
        margin-bottom: 100px;
    }
    #about .r-office-tcom .col-left .btn-start svg {
        width: 20px;
    }
    #about .r-office-tcom .col-right .tcom-image .slick-dots {
        margin-top: 20px;
    }
    #about .r-office-tcom .col-left h3 {
        font-size: 18px;
        line-height: 28px;
        &::before{
            width: 45px;
            height: 1px;
            bottom: -4px;
        }
    }
    #about .r-office-tcom .col-left .btn-start {
        padding: 0px 20px 0px 20px;
        font-size: 14px;
    }
    #about .r-office-tcom .col-right .tcom-image {
        margin-right: 100px;
    }
    #about .r-moment {
        padding: 0px 0 19px;
    }
    #about .r-moment .container-fluid {
        padding-left: 24px;
        padding-right: 24px;
    }
    #about .r-moment .title h3 {
        font-size: 14px;
        text-align: center;
        margin-bottom: 6px;
        span{
            color: $main-color;
            margin-left: 0;
        }
    }
    #about .r-moment .col-left .title img{
        display: none;
    }
    #about .r-moment .col-left img{
        margin-bottom: 4px;
    }
    #about .r-feedback {
        padding: 26px 0 6px;
    }
    #about .r-feedback .owl-dots {
        bottom: 38px;
    }
    #about .r-feedback .item .brand svg {
        margin-right: 3px;
        width: 9px;
    }
    #about .r-feedback .item .brand {
        font-size: 9px;
        margin-top: -4px;
    }
    #about .r-feedback .item .author{
        font-size: 8px;
    }
    #about .r-feedback .owl-dots button.active {
        width: 16px;
    }
    #about .r-feedback .owl-dots button {
        width: 4px;
        height: 4px;
    }
    #about .r-feedback .item p::before {
        left: 80px;
        top: 76px;
        width: 7px;
        height: 7px;
    }
    #about .r-feedback .item p::after {
        right: 75px;
        bottom: -26px;
        width: 4px;
        height: 4px;
    }
    #about .r-feedback .owl-stage-outer {
        padding-top: 0;
    }
    #about .r-feedback .title-center {
        margin-bottom: 0;
    }
    #about .r-feedback .item p {
        font-size: 14px;
        line-height: 16px;
        margin-bottom: 24px;
        padding: 0 15px;
    }
    #about .r-feedback .title-center h3 {
        font-size: 14px;
        margin-bottom: 4px;
    }
    #about .r-progress .block-progress .item ul li .logo.tsoft img{
        width: 59px;
    }
    #about .r-progress .block-progress .item ul li .logo.rice-wallet img{
        width: 29px;
    }
    #about .r-progress .block-progress .slick-dots {
        margin-right: 36px;
        padding: 41px 0 58px;
    }
    #about .r-progress .title-left {
        margin-bottom: 43px;
    }
    #about .r-progress .block-progress .slick-dots li + li {
        margin-top: 13px;
    }
    #about .r-progress .block-progress .item ul li .content p {
        font-size: 8px;
        line-height: 9px;
        padding-right: 8px;
        margin-bottom: 5px;
    }
    #about .r-progress .block-progress .item ul li .content h5 {
        font-size: 10px;
        margin-bottom: 6px;
    }
    #about .r-progress .block-progress .item h3 {
        font-size: 14px;
        margin-bottom: 10px;
    }
    #about .r-progress .block-progress .item .year {
        font-size: 8px;
        margin-bottom: 1px;
    }
    #about .r-progress .block-progress .item .inner{
        min-height: 220px;
        margin: 0;
        padding: 2px;
        border-radius: 11px;
    }
    #about .r-progress .block-progress .item .inner .content-box {
        padding: 25px 29px 25px 36px;
        min-height: 220px;
        border-radius: 11px;
    }

    #about .r-progress .block-progress .item .inner .box-content{
        padding: 12px 13px 25px 29px;
        margin: 0;
        margin-bottom: 10px;
        border-width: 2px;
        border-radius: 11px;
        min-height: auto;
    }
    #about .r-progress .block-progress .item ul li .logo.tcom-jp img {
        width: 72px;
    }
    #about .r-progress .block-progress .item ul li .logo.eyefire img {
        width: 72px;
    }
    #about .r-progress .block-progress .slick-dots li button {
        font-size: 16px;
        padding: 10px 21px;
    }
    #about .r-progress .block-progress .slick-list {
        padding-right: 0;
        margin-right: 0;
        padding-bottom: 0;
    }
    #about .r-progress .block-progress .item p{
        font-size: 10px;
        line-height: 18px;
    }

    #about .r-progress .block-progress{
        margin-left: 0;
        padding-left: 24px;
        padding-right: 24px;
    }
    #about .r-progress {
        padding: 52px 0 54px;
    }
    #about .r-progress .title-left h3 {
        font-size: 14px;
    }
    #about .r-big-banner {
        padding: 31px 0 3px;
    }
    #about .r-big-banner .col-left h1::after {
        bottom: -18px;
        width: 57px;
        height: 2px;
        left: 50%;
        transform: translateX(-50%);
    }
    #about .r-big-banner .col-left .block h3 {
        font-size: 14px;
        margin-bottom: 12px;
    }
    #about .r-big-banner .col-left .block p{
        line-height: 24px;
    }
    #about .r-big-banner .col-left .block p br{
        display: none;
    }
    #about .r-big-banner .col-left .block {
        margin-bottom: 25px;
        width: 100%;
    }
    #about .r-big-banner .col-right .block-image .block .image .circle {
        top: 3px;
        left: 3px;
    }
    #about .r-big-banner .col-right .block-image .block.block-4 .image .circle {
        top: 2px;
        left: 2px;
    }
    #about .r-big-banner .col-right .block-image .block.block-1{
        width: 146px;
        top: -33px;
        right: 20px;
    }
    #about .r-big-banner .col-right .block-image .block.block-2{
        width: 103px;
        left: 64px;
        bottom: 90px;
    }
    #about .r-big-banner .col-right .block-image .block.block-3{
        width: 66px;
        right: 46px;
        bottom: 59px;
    }
    #about .r-big-banner .col-right .block-image .block.block-4{
        width: 50px;
        bottom: 33px;
        left: 163px;
    }
    #about .r-big-banner .col-right .block-image{
        height: 250px;
    }
    #about .r-big-banner .col-left h1 {
        font-size: 20px;
        line-height: 24px;
        text-align: center;
        margin-bottom: 45px;
    }
    #about .r-big-banner .col-right .block-image .block .image img{
        width: 100%;
    }
    #about .title-left {
        margin-bottom: 30px;
    }
    #about .title-left h3, #about .title-center h3 {
        font-size: 16px;
        margin-bottom: 15px;
    }
    #about .title-left .desc, #about .title-center .desc {
        font-size: 14px;
        line-height: 24px;
        color: #434343;
        padding-right: 40px;
        br{
            display: none;
        }
    }
    #about .title-left h3::after {
        bottom: -4px;
        width: 14px;
        height: 1px;
    }
   
    #about .read-more{
        position: static;
        font-size: 14px;
        justify-content: flex-end;
        margin-top: 32px;
        svg{
            margin-left: 15px;
            circle{
                fill: transparent;
            }
            path{
                fill: $main-color;
            }
        }
    }
    #about .title-center h3{
        line-height: 24px;
        &::after{
            bottom: -9px;
            width: 14px;
            height: 1px;
        }
    }
    #about .r-member .title-center{
        margin-bottom: 31px;
    }
    #about .r-member .title-center h3{
        width: 177px;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 26px;
    }
    #about .title-center .desc{
        padding-right: 10px;
        padding-left: 10px;
    }
    #about .r-member {
        padding-top: 23px;
        padding-bottom: 35px;
    }
    #about .r-member .image-logo {
        margin-top: 0;
        margin-bottom: 22px;
        img{
            width: 126.5px;
        }
    }
    #about .r-member .box .logo{
        height: 33px;
        margin-bottom: 7px;
    }
    #about .r-member .box .logo.tsoft img {
        width: 59px;
    }
    #about .r-member .box .logo.t-japan img {
        width: 73px;
    }
    #about .r-member .box .logo.eyefire img {
        width: 77px;
    }
    #about .r-member .box .logo.sky-live img {
        width: 43px;
    }
    #about .r-member .box .logo.blockchain img {
        width: 44px;
    }
    #about .r-member .box ul li {
        font-size: 8px;
        padding-left: 5px;
        line-height: 16px;
    }
    #about .r-member .row {
        margin-left: -4px;
        margin-right: -4px;
    }
    #about .r-member .row .col-4 {
        padding-left: 4px;
        padding-right: 4px;
        margin-bottom: 7px;
    }
    #about .r-member .box ul li::before {
        width: 2px;
        height: 2px;
    }
    #about .r-member .box {
        padding: 6px 7px 10px;
    }
    #about .r-achievement{
        padding-top: 31px;
        padding-bottom: 26px;
    }
    #about .r-achievement .col-left .title-left {
        margin-top: 0;
        text-align: center;
        h3{
            margin-bottom: 29px;
            &::after{
                left: 50%;
                transform: translateX(-50%);
                bottom: -12px;
            }
        }
    }
    #about .r-achievement .title-left .desc {
        line-height: 24px;
        padding: 0 13px;
        margin-bottom: 32px;
    }
    #about .r-achievement .col-left .image {
        display: none;
    }
    #about .r-achievement .col-right .box.box-2, 
    #about .r-achievement .col-right .box.box-4{
        transform: none;
        &::before{
            display: none;
        }
    }
    #about .r-achievement .col-right .box.box-1 img{
        width: 40px;
    }
    #about .r-achievement .col-right .box.box-2 img{
        width: 54px;
    }
    #about .r-achievement .col-right .box.box-3 img{
        width: 51px;
    }
    #about .r-achievement .col-right .box.box-4 img{
        width: 48px;
    }
    #about .r-achievement .col-right .row {
        margin: 0 -8px;
    }
    #about .r-achievement .col-right .col-6 {
        margin-bottom: 17px;
        padding: 0 8px;
    }
    #about .r-achievement .col-right .box {
        padding: 16px 19px 12px;
    }
    #about .r-achievement .col-right .box .number{
        margin-top: 17px;
    }
    #about .r-achievement .col-right .box.box-1 .number {
        margin-top: 21px;
        margin-bottom: 4px;
    }
    #about .r-achievement .col-right .box.box-2 .icon {
        margin-top: 12px;
    }
    #about .r-customer .title-center .desc{
        font-size: 14px;
        line-height: 24px;
    }
    #about .r-customer {
        padding: 33px 0 0;
    }
    #about .r-customer .title-center h3::after {
        bottom: -5px;
    }
    #about .r-customer .title-center h3{
        margin-bottom: 22px;
    }
    #about .r-customer .container-fluid .brands-list li{
        flex: 0 0 33.33333%;
        max-width: 33.33333%;
        margin: 0 0 11px;
        text-align: center;
        img{
            width: 50%;
        }
    }
    #about .r-customer .title-center {
        margin-bottom: 31px;
    }
    #about .r-customer .map{
        margin-top: -4px;
        img{
            height: 250px;
            object-fit: cover;
        }
    }
}
