#news-details{
    .main-content{
        .page-title{
            font-weight: 700;
            font-size: 40px;
            line-height: 47px;
            color: #474747;
            margin-bottom: 15px;
            margin-top: 128px;
        }
        .meta{
            display: flex;
            margin-bottom: 31px;
            .date{
                display: flex;
                align-items: center;
                font-size: 24px;
                color: #353535;
                margin-right: 29px;
                position: relative;
                &::after{
                    content: "";
                    width: 2px;
                    height: 22px;
                    background-color: #525252;
                    position: absolute;
                    right: -15px;
                    top: 10px;
                }
                img{
                    margin-right: 10px;
                }
            }
            .share{
                display: flex;
                align-items: center;
                h3{
                    font-size: 24px;
                    font-weight: 400;
                    color: #353535;
                    margin-bottom: 0;
                    margin-right: 14px;
                }
                ul{
                    display: flex;
                    flex-wrap: wrap;
                    margin-bottom: 0;
                    li{
                        margin-right: 16px;
                        margin-right: 23px;
                    }
                }
            }
        }
        .post{
            p{
                font-size: 16px;
                line-height: 24px;
                color: #313131;
            }
            .image{
                margin-top: 33px;
                margin-bottom: 34px;
            }
            .author{
                font-size: 16px;
                font-weight: 500;
                color: #000000;
                border-bottom: 1px solid #A4A4A4;
                padding-bottom: 27px;
                margin-bottom: 60px;
                margin-top: 44px;
            }
        }

        
    }
    .r-news-list{
        margin: 42px 0 179px;
        position: relative;
        .news-item{
            margin-bottom: 40px;
        }
        .image{
            padding-right: 10px;
            img{
                width: 100%;
            }
        }
        .content{
            padding-left: 6px;
            margin-top: -3px;
            .category{
                font-size: 14px;
                color: $main-color;
            }
            .title{
                font-weight: 700;
                font-size: 18px;
                line-height: 21px;
                color: #121212;
                display: block;
                margin-bottom: 0;
                &:hover{
                    color: $main-color;
                }
            }
            .date{
                margin-bottom: 12px;
            }
            .tag{
                display: flex;
                flex-wrap: wrap;
                margin-bottom: 8px;
                li{
                    margin-right: 8px;
                    margin-bottom: 8px;
                    &.active, &:hover{
                        a{
                            color: #fff;
                            background-color: $main-color;
                        }
                    }
                    a{
                        font-size: 14px;
                        color: #434343;
                        background: #E2E2E2;
                        border-radius: 55px;
                        padding: 5px 24px 3px;
                        display: inline-block;
                    }
                }
            }
            .desc{
                font-size: 16px;
                color: #313131;
                padding-right: 140px;
                margin-bottom: 48px;
            }
        }
        .see-more{
            display: inline-block;
            background: $main-color;
            color: #fff;
            font-size: 18px;
            font-weight: 700;
            border-radius: 5px;
            padding: 16px 33px;
            margin-top: 28px;
            &:hover{
                background: $sub-color;
            }
        }
    }
}


@media (max-width: 1199px){
    #news-details .r-news-list .content .desc {
        padding-right: 0;
    }
    #news-details .main-content .page-title {
        font-size: 30px;
        margin-top: 50px;
    }
    #news-details .main-content .meta .date,
    #news-details .main-content .meta .share h3{
        font-size: 18px;
    }
    #news-details .r-news-list::before,
    #news-details .r-news-list::after{
        display: none;
    }
    #news-details .r-news-list .content .desc {
        padding-right: 0;
    }
}

@media (max-width: 991px){
    #news-details .r-news-list .content .desc {
        margin-bottom: 16px;
    }
}

@media (max-width: 767px){
    #news-details .main-content .meta .date img {
        width: 25px;
    }
    #news-details .main-content .post p {
        font-size: 14px;
    }
    #news-details .main-content .meta .share ul li svg{
        width: 30px;
    }
    #news-details .main-content .meta .date{
        margin-right: 0;
        margin-bottom: 15px;
    }
    #news-details .main-content .meta .date::after{
        display: none;
    }
    #news-details .main-content .meta .date, #news-details .main-content .meta .share h3 {
        font-size: 14px;
    }
    #news-details .main-content .meta .share ul li {
        margin-right: 10px;
    }
    #news-details .main-content .meta {
        flex-direction: column;
    }
    #news-details .main-content .page-title {
        font-size: 18px;
        margin-top: 30px;
    }
    #news-details .r-news-list .news-item .col-md-5{
        margin-bottom: 25px;
    }
    #news-details .r-news-list .see-more {
        margin-top: 0;
    }
    #news-details .r-news-list .content .desc{
        font-size: 14px;
    }
    #news-details .r-news-list{
        margin-bottom: 70px;
    }
}