#video-solution{
    .title-left{
        margin-bottom: 58px;
        h3{
            font-size: 48px;
            font-weight: 700;
            color: $main-color;
            position: relative;
            margin-bottom: 35px;
            &::after{
                content: "";
                position: absolute;
                left: 0;
                bottom: -11px;
                width: 48px;
                height: 4px;
                background-color: $main-color;
                z-index: 1;
            }
        }
        .desc{
            font-size: 18px;
            color: #686868;
        }
    }
    .title-center{
        margin-bottom: 58px;
        text-align: center;
        h3{
            font-size: 48px;
            font-weight: 700;
            color: $main-color;
            position: relative;
            margin-bottom: 29px;
            text-transform: uppercase;
            &::after{
                content: "";
                position: absolute;
                left: 50%;
                transform: translateX(-50%);
                bottom: -11px;
                width: 48px;
                height: 4px;
                background-color: $main-color;
                z-index: 1;
            }
        }
        .desc{
            font-size: 20px;
            color: #686868;
        }
    }

    .r-big-banner{
        padding: 117px 0 628px;
        background: url("../images/video-solution/big-banner-bg.jpg") no-repeat center;
        background-size: cover;
        margin-top: -75px;
        h1{
            font-size: 48px;
            font-weight: 900;
            color:  #121212;
            position: relative;
            margin-bottom: 37px;
            &::after{
                content: "";
                position: absolute;
                left: 0;
                bottom: -11px;
                width: 48px;
                height: 4px;
                background-color: $main-color;
                z-index: 1;
            }
        }
        .desc{
            color:  #434343;
            line-height: 20px;
            margin-bottom: 27px;
            width: 448px;
            max-width: 100%;
        }
        .feature{
            margin-top: 81px;
            width: 500px;
            max-width: 100%;
            .row > div{
                margin-bottom: 15px;
            }
            .box{
                display: flex;
                + .box{
                    margin-top: 39px;
                }
                .icon{
                    width: 36px;
                    height: 36px;
                    background: rgba(0, 99, 170, 0.05);
                    border-radius: 5px;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                }
                p{
                    font-size: 14px;
                    line-height: 20px;
                    color: #121212;
                    margin-bottom: 0;
                    width: 234px;
                    margin-left: 15px;
                }
            }
        }
    }

    .r-strengths{
        margin-top: 41px;
        .title{
            font-weight: 700;
            font-size: 48px;
            line-height: 56px;
            text-transform: uppercase;
            color: $main-color;
            position: relative;
            padding-left: 22px;
            margin-top: 23px;
            &::before{
                content: "";
                width: 6px;
                height: calc(100% - 8px);
                position: absolute;
                left: 0;
                top: 2px;
                background-color: $main-color;
            }
        }
        .col-right{
            .col-12{
                margin-bottom: 21px;
            }
        }
        .box{
            padding: 25px 26px;
            background: url("../images/web-development/strength-box-bg.png") no-repeat center;
            background-size: cover;
            box-shadow: 0px 8px 19px rgba(189, 189, 189, 0.25);
            border-radius: 15px;
            height: 100%;
            min-height: 177px;
            p{
                font-weight: 500;
                font-size: 14px;
                line-height: 20px;
                color: #121212;
            }
        }
    }

    .r-technology{
        margin-top: 167px;
        position: relative;
        &::before{
            content: "Ngôn ngữ";
            font-weight: 900;
            font-size: 200px;
            line-height: 1;
            color: transparent;
            -webkit-text-stroke-width: 0.3px;
            -webkit-text-stroke-color: #E4E4E4;
            position: absolute;
            left: 10px;
            bottom: -87px;
            z-index: -1;
            text-transform: uppercase;
            animation-name: leftToRight;
            animation-duration: 10s;
            animation-timing-function: linear;
            animation-iteration-count: infinite;
        }
        &::after{
            content: "Công nghệ";
            font-weight: 900;
            font-size: 200px;
            line-height: 1;
            color: transparent;
            -webkit-text-stroke-width: 0.3px;
            -webkit-text-stroke-color: #E4E4E4;
            position: absolute;
            top: 83px;
            right: -279px;
            z-index: -1;
            text-transform: uppercase;
            animation-name: rightToLeft;
            animation-duration: 10s;
            animation-timing-function: linear;
            animation-iteration-count: infinite;
        }
        .container-fluid{
            width: 1540px;
            max-width: 100%;
        }
        .title{
            font-weight: 700;
            font-size: 48px;
            line-height: 56px;
            text-align: center;
            text-transform: uppercase;
            color: $main-color;
            margin-bottom: 98px;
        }
        ul{
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            text-align: center;
            li{
                padding: 20px 38px;
                margin-bottom: 27px;
                .icon{
                    height: 61px;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                }
                .name{
                    font-weight: 700;
                    font-size: 17.3333px;
                    line-height: 20px;
                    color: #121212;
                    margin-top: 10px;
                }
            }
        }
    }

    .r-step{
        margin-top: 183px;
        padding: 79px 0 227px;
        position: relative;
        &::before{
            content: url("../images/offshore/step-bg.png");
            position: absolute;
            bottom: -14px;
            left: -8px;
            z-index: 2;
        }
        .title-center{
            margin-bottom: 125px;
            h3{
                margin-bottom: 23px;
            }
            .desc{
                font-size: 18px;
                color: #494949;
            }
        }
        .step-carousel{
            padding-right: 65px;
            &::before{
                content: "";
                position: absolute;
                right: 100%;
                top: 0;
                width: 10000%;
                height: 100%;
                background-color: #fff;
                z-index: 1;
            }
            .owl-stage-outer{
                overflow: visible;
            }
            .owl-stage{
                display: flex;
            }
            .item{
                padding: 31px 15px 12px 24px;
                color: #fff;
                background: $main-color;
                box-shadow: 0px 4px 9px rgba(189, 189, 189, 0.45);
                border-radius: 10px;
                height: 100%;
                .top{
                    display: flex;
                    justify-content: space-between;
                    margin-bottom: 55px;
                    .number{
                        font-size: 48px;
                        font-weight: 900;
                        line-height: 1;
                    }
                    .text{
                        font-size: 48px;
                        font-weight: 900;
                        -webkit-text-stroke-width: 0.3px;
                        -webkit-text-stroke-color: #fff;
                        color: transparent;
                        text-transform: uppercase;
                        line-height: 1;
                    }
                }
                h3{
                    font-weight: 700;
                    font-size: 24px;
                    line-height: 28px;
                    margin-bottom: 14px;
                }
                p{
                    font-size: 14px;
                    line-height: 16px;
                    color: #E2E2E2;
                }
            }
        }
    }

    .r-fields{
        margin-top: 96px;
        margin-bottom: 97px;
        position: relative;
        &::after{
            content: url("../images/home/fields-img-2.png");
            position: absolute;
            right: 100px;
            top: -92px;
            z-index: 1;
        }
        &::before{
            content: url("../images/home/fields-img-3.png");
            position: absolute;
            right: 269px;
            top: 74px;
            z-index: 2;
        }
        .col-left{
            .title-left{
                h3{
                    margin-bottom: 19px;
                }
                .desc{
                    margin-right: -1px;
                }
            }
            img{
                display: block;
                margin: -4px auto 0;
            }
        }
        .col-right{
            margin-top: 11px;
        }
        .field-item{
            margin-bottom: 19px;
            padding-left: 62px;
            .icon{
                height: 60px;
                display: flex;
                flex-direction: column;
                justify-content: flex-end;
                margin-bottom: 15px;
            }
            h3{
                color: #434343;
                font-size: 20px;
                font-weight: 700;
                margin-bottom: 0;
                min-height: 40px;
            }
        }
    }
}

@media (min-width: 1200px){
    .r-strengths{
        .col-left{
            flex: 0 0 38.35%;
            max-width: 38.35%;
        }
        .col-right{
            flex: 0 0 61.65%;
            max-width: 61.65%;
        }
    }
    #video-solution .r-fields .col-left {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 27%;
        flex: 0 0 27%;
        max-width: 27%;
    }
    #video-solution .r-fields .col-right {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 73%;
        flex: 0 0 73%;
        max-width: 73%;
    }
}

@media (max-width: 1800px){
    #video-solution .r-step::before{
        display: none;
    }
}

@media (max-width: 1199px){
    #video-solution .r-big-banner{
        margin-top: 0;
    }
    #video-solution .r-fields::before,
    #video-solution .r-fields::after{
        display: none;
    }
    #video-solution .r-fields .field-item {
        padding-left: 0;
    }
    #video-solution .r-fields .col-left img{
        display: none;
    }
}

@media (max-width: 991px){
    #video-solution .r-strengths .title {
        font-size: 30px;
        line-height: 38px;
    }
    #video-solution .r-big-banner {
        padding: 64px 0 100px;
    }
    #video-solution .r-technology {
        margin-top: 50px;
    }
    #video-solution .r-technology ul li {
        padding: 10px 30px;
        margin-bottom: 20px;
    }
    #video-solution .r-technology::before,
    #video-solution .r-technology::after{
        display: none;
    }
    #video-solution .r-technology .title {
        font-size: 30px;
        margin-bottom: 20px;
    }
    #video-solution .r-big-banner h1 {
        font-size: 30px;
    }
    #video-solution .title-left h3,
    #video-solution .title-center h3 {
        font-size: 30px;
    }
    #video-solution .r-step .step-carousel .item .top .text,
    #video-solution .r-step .step-carousel .item .top .number {
        font-size: 30px;
    }
    #video-solution .r-step{
        padding-bottom: 70px;
        margin-top: 0;
    }
    #video-solution .r-step .title-center {
        margin-bottom: 40px;
    }
    #video-solution .r-fields {
        margin-top: 0;
        margin-bottom: 50px;
    }
}

@media (max-width: 767px){
    #video-solution .title-left h3::after {
        bottom: -4px;
        width: 28px;
        height: 1px;
    }
    #video-solution .title-center h3::after {
        bottom: -4px;
        width: 28px;
        height: 1px;
    }
    #video-solution .r-technology ul li {
        padding: 10px 18px;
        margin-bottom: 15px;
    }
    #video-solution .r-technology .title {
        font-size: 18px;
    }
    #video-solution .r-strengths .title::before {
        width: 2px;
    }
    #video-solution .r-strengths .box{
        min-height: auto;
    }
    #video-solution .r-strengths .title {
        font-size: 18px;
        line-height: 28px;
    }
    #video-solution .r-big-banner h1::after {
        bottom: -4px;
        width: 28px;
        height: 1px;
    }
    #video-solution .r-big-banner {
        padding: 40px 0 40px;
    }
    #video-solution .r-big-banner .desc {
        width: 45%;
    }
    // #video-solution .r-big-banner{
    //     background: transparent;
    // }
    #video-solution .r-big-banner .feature {
        margin-top: 35px;
    }
    #video-solution .r-big-banner h1 {
        font-size: 18px;
    }
    #video-solution .r-fields {
        margin-top: 0;
    }
    #video-solution .r-fields .col-left .title-left h3 {
        margin-bottom: 13px;
    }
    #video-solution .r-fields .col-left .title-left .desc {
        padding-right: 0;
    }
    #video-solution .r-fields .field-item{
        margin-bottom: 3px;
        > svg{
            width: 79px;
            margin-top: -30px;
            rect{
                height: 1.62px;
            }
        }
        .icon{
            margin-bottom: 3px;
            svg{
                width: 40px;
            }
        }
    }
    #video-solution .r-fields .field-item h3 {
        font-size: 14px;
    }
    #video-solution .r-fields .title-left{
        margin-bottom: -8px;
    }
    #video-solution .r-fields .read-more{
        margin-top: 3px;
        margin-right: -6px;
    }
    #video-solution .title-left h3, #video-solution .title-center h3 {
        font-size: 18px;
    }
    #video-solution .title-left .desc, #video-solution .title-center .desc {
        font-size: 14px;
    }
    #video-solution .r-step .step-carousel {
        padding-right: 0;
    }
    #video-solution .r-step {
        padding: 50px 0 227px;
    }
    #video-solution .r-step .title-center {
        margin-bottom: 40px;
    }
    #video-solution .r-step .title-center .desc {
        font-size: 14px;
    }
    #video-solution .r-step .step-carousel .item h3 {
        font-size: 18px;
        line-height: 28px;
    }
    #video-solution .r-step {
        padding-bottom: 40px;
    }
    #video-solution .r-step .step-carousel .item .top {
        margin-bottom: 15px;
    }
    #video-solution .r-step .step-carousel .item .top .text, #video-solution .r-step .step-carousel .item .top .number {
        font-size: 18px;
    }
}